[Desktop Entry]
Type=Application

Name=Coqui
Comment=AI agent chat client
Categories=Utility;Development;Chat;
Keywords=ai;chat;agent;coqui;llm

Icon=bot.coqui
Exec=coqui
Terminal=false
StartupNotify=true